# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pbxproj

*.plist

*.mak

*.xcscheme

*.sdf

*.suo

*.vcxproj

*.filters

*.user

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcsettings

tmp/release/obj/Screws.build/Debug/libScrews.build/dgph

*.hmap

tmp/release/obj/Screws.build/Debug/libScrews.build/Objects-normal/x86_64/libScrews_dependency_info.dat
